@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.macroNutrients {
  background-color: blue;
  background-image: linear-gradient(-170deg, blue 50%, transparent 50%),
    linear-gradient(180deg, transparent 50%, white 50%);
}

.toolTip[title]:hover::after {
  background-color: red;
  color: aquamarine;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.addMealBtn:hover {
  box-shadow: inset 0 2px 4px 0 rgb(0, 0, 0, 0.2);
}

.boxShadow {
  box-shadow: inset 1px 1px 2px 1px rgb(0, 0, 0, 1);
}

.slide-div {
  transition: width 200ms ease;
  -moz-transition: width 200ms ease;
  -ms-transition: width 200ms ease;
  -o-transition: width 200ms ease;
  -webkit-transition: width 200ms ease;
  word-break: break-all;
}

.slide-wrapper:hover {
  width: 200px;
}

@media (max-width: 768px) {
  .gridColumn1 {
    grid-column: span 2;
  }
}

@media (min-width: 768px) {
  .gridColumn1 {
    grid-column: span 1;
  }
}

.gridColumn2 {
  grid-column: span 2;
}

.upVoted {
  color: #00bf00;
}

.downVoted {
  color: red
}
